body {
  font-family: 'Catamaran','Noto Sans Traditional Chinese',sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #2c2c2c;
  margin: 0; /* 去除瀏覽器預設外邊距 */
  height: 100vh; /* 視口高度，確保填滿整個視窗 */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; /* 圖片置中 */
}
.gMenu {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}

.gMenu .menu-icon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 12px;
  padding-top: 5px;
  height: 12px;
}

.gMenu .menu-icon .navicon {
  background: #ffc107; 
  display: block;
  height: 2px; 
  width: 31px; 
  position: relative;
  transition: background .4s ease-out; 
}

.gMenu .menu-icon .navicon::before,
.gMenu .menu-icon .navicon::after {
  background: #ffc107; 
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .4s ease-out; 
  width: 100%;
}
.gMenu .menu-icon .navicon::before {top: 10px;} 
.gMenu .menu-icon .navicon::after {top: -10px;} 

.gMenu .menu {
  background-color: rgba(255,255,255,0.9);
  overflow: hidden;
  max-height: 0; 
  transition: max-height .6s; 
  text-align: center;
}

.gMenu .menu li:first-of-type {
  padding-top: 50px;
}
.gMenu .menu li a {
  display: block;
  padding: 24px 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.gMenu .menu li a:hover {
  background-color: #f4f4f4;
}

.gMenu .menu-btn {
  display: none;
}

.gMenu .menu-btn:checked ~ .menu {
  max-height: 338px; 
  transition: max-height .6s;
}

.gMenu .menu-btn:checked ~ .menu-icon .navicon {background: transparent;}


.gMenu .menu-btn:checked ~ .menu-icon .navicon::before {transform: rotate(-45deg);top: 0;}
.gMenu .menu-btn:checked ~ .menu-icon .navicon::after {transform: rotate(45deg);top: 0;}

.gMenu .menu-icon {
  top: 26px;
}
.gMenu .menu-icon .navicon,
.gMenu .menu-icon .navicon::before,
.gMenu .menu-icon .navicon::after {
  background: hsl(66, 100%, 50%);
}

/* 自定義樣式，讓文字固定在左上角 */
.news-too {
    position: absolute;
    top: 10px;
    left: 5px;
    background-color: #ffcc00;
    /* 背景顏色 */
    color: #000;
    /* 文字顏色 */
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}



/* 自定義樣式 */
header {
   position: relative;
   background-color: #9e06c432;
}

.header-right {
  position: absolute;
  top: 10px;
  right: 50px;
}

.user-avater {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 1000;
}

.dropdown-menu a {
    display: block;
    padding: 8px 12px;
    color: black;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
}
        

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
