body {
    margin: 0; /* 去除瀏覽器預設外邊距 */
    height: 100vh; /* 視口高度，確保填滿整個視窗 */
    background-image: url('../images/雪樹.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; /* 圖片置中 */
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.register-form {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}