@{
    ViewBag.Title = "聖樹工坊";
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/Content/style.css">
</head>
<body class="subPage">

    <h1 class="title">
        <span>聖樹工坊</span>
    </h1>

    <p class="content">一個有關Vtuber角色模型的世界</p>
</body>